.Grid {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-auto-columns: 50px;
  grid-auto-rows: 50px;
  grid-gap: 5px;
  justify-content: center;
}

.Empty {
  background-color: black;
}

.Food {
  background-color: palevioletred;
}

.Snake {
  background-color: forestgreen;
}

.Game {
  text-align: center;
}
